name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BASE_URL: "http://localhost:3000"
      K6_WEB_DASHBOARD: "true"
      K6_WEB_DASHBOARD_PERIOD: "2s"

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: '20.x'

    - name: Instalar dependências
      run: npm install

    - name: Instalar o k6
      uses: grafana/setup-k6-action@v1
      with:
          browser: true

    - name: Subir a API Rest
      run: npm run start &

    - name: Esperar as APIs estarem funcionando
      run: sleep 4  # segundos

    - name: Criar no Github Actions o arquivo .env
      run: |
        echo "BASE_URL_REST = ${{ secrets.BASE_URL_REST }}" >> .env
    - name: Executar testes External e Controller de API Rest via HTTP
      run: npm run test
    
    - name: Executar o k6 - Trabalho final da disciplina
      uses: grafana/run-k6-action@v1
      env:
        K6_WEB_DASHBOARD_EXPORT: "trabalho-final-da-disciplina.test.html"
      with:
        path: test/k6/trabalho-final-da-disciplina.test.js
        #flags: --env BASE_URL=http://localhost:3000
    
    - name: Executar o k6 - Login
      uses: grafana/run-k6-action@v1
      env:
        K6_WEB_DASHBOARD_EXPORT: "login.test-dashboard.html"
      with:
        path: test/k6/login.test.js
        #flags: --env BASE_URL=http://localhost:3000

    - name: Executar teste de performance k6 - Trabalho final da disciplina
      env:
        K6_WEB_DASHBOARD_EXPORT: "trabalho-final-da-disciplina.test-dashboard.html"
      run: k6 run test/k6/trabalho-final-da-disciplina.test.js --env BASE_URL=http://localhost:3000

    - name: Executar teste de performance k6 - Login
      env:
        K6_WEB_DASHBOARD_EXPORT: "login.test-dashboard.html"
      run: k6 run test/k6/login.test.js --env BASE_URL=http://localhost:3000

    - name: Upload dos relatórios de testes em html do k6
      uses: actions/upload-artifact@v4
      with:
        name: relatorios-k6
        path: |
          trabalho-final-da-disciplina.test-dashboard.html
          login.test-dashboard.html